<h2 class="mt-2 mb-3">Accounts</h2>
<form>
    <label for="inputSearch" class="m-2 ">Search account</label>
    <div class="d-flex flex-rows mb-2">
        <input id="inputSearch" class="form-control"  type = "text" name = "search_value"  ng-model = "search_value"  >
        <button class="btn btn-secondary" ng-click="search()">Search</button>
        <button ng-show="filtered"class="btn btn-primary" ng-click="clearSearch()">Clear</button>
    </div>
    

</form>
<table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Currency</th>
                <th>Balance</th>
                <th>Treasury</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        
        <tr ng-repeat = "account in accounts">
                <td>{{ account.id }}</td>
                <td>{{ account.name}}</td>
                <td>{{ account.currency }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.treasury }}</td>
                <!--<td><button class="btn btn-light" ng-click="edit(account.id)">Edit</button></td>-->
                <td>
                    <a  class="btn btn-light" href = "#!/edit/{{account.id}}">Edit</a>
                </td>
                

                <td><button class="btn btn-danger" ng-click="delete(account.id)">Delete</button></td>
        </tr>
        

    </table>
    <div class="d-flex flex-row justify-content-between">
        <a  id="add_account_btn"class="btn btn-primary" href = "#!/addAccount">ADD ACCOUNT</a>
        <a  id="add_transfer_btn"class="btn btn-dark" href = "">NEW TRANSFER</a>
    </div>
    
